<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GoBoss</title>
  <meta name="description" content="GoBoss">
  <meta name="author" content="https://github/raduq">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">  
</head>
<body>
    <section>

        <div class="container">
                
            <div class="jumbotron">
                <h1 class="display-3">GoBoss</h1>
                <p class="lead">Let's start this shit up.</p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
                    <a class="btn btn-dark btn-lg" href="#" role="button">Deploy</a>
                    <a class="btn btn-dark btn-lg" href="#" role="button">Undeploy</a>
                </p>
            </div>
                    
            </div>

        </div>

    </section>
      
</body>
</html>