<!doctype html>
<html lang="en" ng-app="goboss">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GoBoss</title>
  <meta name="description" content="GoBoss">
  <meta name="author" content="https://github/raduq">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.min.js"></script>
  <script src="/scripts/goboss.js"></script>
</head>
<body ng-controller="gobossController">
    <section>

        <div class="container">

            <div class="jumbotron">
                <h1 class="display-3" ng-class="{ 'leaf' : started, 'fire' : !started }" ng-click="refresh()">GoBoss</h1>
                <p class="lead">Let's start this shit up.</p>
                <hr class="my-4">
                <p class="lead">
                    <button class="btn btn-success btn-lg" ng-click="start()" role="button">Start</button>
                    <button class="btn btn-dark btn-lg" ng-click="deploy()" role="button">Deploy</button>
                    <button class="btn btn-dark btn-lg" ng-click="undeploy()()" role="button">(Un)Deploy</button>
                    <button class="btn btn-danger btn-lg" ng-click="kill()" role="button">Kill</button>
                </p>
            </div>

            </div>

        </div>

    </section>

</body>
</html>
